*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding-top: 1.5em;  
  font-family: 'Permanent Marker', cursive;;
  background-image: url("../img/DulcePlacer.jpeg");
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;    
}

.card {
  width: 400px;
  min-height: 400px;
  padding-top: 1em;
  border-radius: 2%;
  margin-bottom: 2em;
  box-shadow: 6px 6px 9px rgb(139, 83, 132);
}

.logo {
  display: block;
  width: 81%;
  height:auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.wrapper {
  background-color: #7209B7;
  width: 81%;
  margin: 0 auto;
  /* margin-left: auto;
  margin-right: auto; */
  margin-bottom: 2em;
  border-radius: 1em;
}

.wrapper ul li {
  list-style: none;
  text-align: center;
  color: #fff;
  font-size: 1.4rem;
  position: relative;
  padding: .3em;
  border-radius: 1em;
}

.wrapper ul li ul li:hover {
  background-color: #F72585;
  border-radius: .6em;
  margin-top: .5em;
}

.wrapper ul ul {
  display: none;
}

.wrapper ul li:hover > ul {
  display: block;
}

a {
  display: block;
  text-decoration: none;
  color: white;
}

.btn {
  background-color: #3a0ca3;
  color: #fff;
  font-size: 1.3rem;
  border: none;
  border-radius: 1em;
  padding: .3em;
  width: 81%;
  margin-bottom: .3em;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.image {
  display: block;
  width: 64%;
  height:16em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .3em;
  border-radius: .9em;
}

.item {
  /* background-color: #f72585; */
  color: #480ca8;
  text-align: center;
  width: 64%;
  margin-left: auto;
  margin-right: auto;
  padding: .5em;
  border-radius: .3em;
  font-size: 1.5rem;
}

p {
  color: #480ca8;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: .6em;
  margin-left: 2em;
  margin-right: 2em;
}

.price {
  color: #480ca8;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 1em;
}

iframe {
  width: 100%;
  height: 100vh;
  border: none;
}

footer p {
  color: #480ca8;
  text-align: center;
  font-size: 2rem;
  padding-bottom: .6em;
}

